{{!-- <p>ID của bạn là:
<p style="color:rgb(21, 121, 107)">{{id}}</p>
</p>
<p>Tên của bạn là:
<p style="color:rgb(21, 121, 107)">{{name}}</p>
</p> --}}
{{#if user}}
  <p>Welcome, {{user.displayName}}</p>
  <span id="user-token" style="display:none">{{accessToken}}</span>
  <p>Your Facebook ID: <span id="user-id">{{user.id}}</span></p>
  <a href="/testLogin/logout">Logout</a>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => { const userId =
    document.getElementById('user-id').innerText; const token =
    document.getElementById('user-token').innerText;
    localStorage.setItem('c_user', userId);
    localStorage.setItem('c_token',token); });
  </script>
{{else}}
  <p>Vui lòng đăng nhập để xem thông tin</p>
  <a href="/testLogin/auth/facebook">
    <button>Login with Facebook</button>
  </a>
{{/if}}